@{
    ViewData["Title"] = "Inicio";
}

    <body class="text-white" style="background-color:#00679F">
        <div class="text-center" >
            <img src="~/img/logo.png" width="400" height="125" class="d-inline-block align-top" alt="">
            <br />
            <img src="~/img/logo_morada.png" width="359" height="112" class="d-inline-block align-top" alt="">
            <h1 class="display-4"></h1>
        </div>
    </body>
 