@model List<FT_Retail.Models.LinhaRastreabilidade>;
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Bootstrap4.NetCore;

@{
    ViewData["Title"] = "Lotes de Animais";
}
<br />
<table style="width: 100%;">
    <tr>
        <th>
<h1 align="left">Lotes de Animais</h1>
        </th>
        <th class="text-right">
<h6>A alterar dados de: <b>@ViewData["Nome_Rast"]</b></h6>
        </th>
    </tr>
</table>
            
            
<hr />

@if (Model.Count() == 0)
{
    <br />
    <button class="btn btn-lg btn-danger btn-block disabled">Não foram encontradas linhas!</button>
}
else
{

@using (Html.BeginForm("Edit", "Rastreabilidades", FormMethod.Post, new { Rast = Model }))
{
    <div class="container">
           
            @for(int i=0; i < Model.Count(); i++) {
            <div class="row" style="margin: 5px">
                <b>@Html.TextBoxFor(modelItem => Model[i].IDLinha, new { @class = "form-control", @readonly = "true", @hidden=true})</b>
                <div class="col">
                        <b>@Html.TextBoxFor(modelItem => Model[i].TextoLinha, new { @class = "form-control", @readonly = "true" })</b>
                </div>
                <div class="col-8">
                     @Html.TextBoxFor(modelItem => Model[i].ValorLinha, new { @class = "form-control"})
                </div>
        </div>
            }
    </div>

    <br>

    <div class="container">
                <div class="row">
                    <div class="form-group" style="width: 100%">
                        <input type="submit" value="Guardar | Enviar" class="btn btn-lg btn-primary btn-block" />
                    </div>
                </div>
            </div>
}
}
<br />
        <div>
            <a asp-action="Index">Voltar</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
